

{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('varaosa_edit', varaosa_id=varaosa.id) }}">
<table>
	<div class="form-group">
		{{ form.partCode.label }}
		{{ form.partCode(class="form-control") }}
			{% for error in form.partCode.errors %}
			{{ error }}
			{% endfor %}
	</div> 

	<div class="form-group">
		{{ form.partType.label }}
		{{ form.partType(class="form-control") }}
			{% for error in form.partType.errors %}
				{{ error }}
			{% endfor %}
	</div> 

	<div class="form-group">
		{{ form.partBrand.label }}
		{{ form.partBrand(class="form-control") }}

			{% for error in form.partBrand.errors %}
				{{ error }}
			{% endfor %}
	</div> 

	<button type="submit" class="btn btn-primary">Muokkaa varaosaa</button>
</form>

{% endblock %}