{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Varaosa</th>
      <th>Tila</th>
      <th></th>
    </tr>
    {% for varaosa in varaosat %}
    <tr>
      <td>{{ varaosa.name }}</td>
      <td>{{ varaosa.done }}</td>
      <td>


  <div style="width:800px;">

    <div style="float: left; width: 180px; padding-left:16px;"> 
      <form method="POST" action="{{ url_for('varaosa_set_done', varaosa_id=varaosa.id) }}">
        <input type="submit" value="Tilaus toimitettu"/>
      </form>
  </div>

    <div style="float: left; width: 130px; padding-left:16px;"> 
      <form method="POST" action="{{ url_for('varaosa_edit', varaosa_id=varaosa.id) }}">
        <input type="submit" value="Muokkaa"/>
      </form>
    </div>


    <div style="float: left; width: 130px; padding-left:16px;"> 
        <form method="POST" action="{{ url_for('varaosa_delete', varaosa_id=varaosa.id) }}">
          <input type="submit" value="Poista"/>
        </form>
      </div>

</td>
</tr>
    {% endfor %}
  </table>
{% endblock %}
